<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NowFloat Biz Management.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NowFloats Biz Management.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NowFloats Boost Development.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NowFloats Boost Plus.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5603DDAC18EBDBF900F454DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>561EA45C16B2648B008EB377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5631F6E818F8629F00D99131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56B65BB118F8625700E5B62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E5867118F8619F007CBA2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
