<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statesArray</key>
	<array>
		<string>Andaman and Nicobar</string>
		<string>Andhra Pradesh</string>
		<string>Arunachal Pradesh</string>
		<string>Assam</string>
		<string>Bihar</string>
		<string>Chhattisgarh</string>
		<string>Dadar and Nagar Haveli</string>
		<string>Daman and Diu</string>
		<string>Delhi</string>
		<string>Goa</string>
		<string>Gujrat</string>
		<string>Haryana</string>
		<string>Himachal Pradesh</string>
		<string>Jammu &amp; Kashmir</string>
		<string>Jharkand</string>
		<string>Karnataka</string>
		<string>Kerala</string>
		<string>Lakshwadeep</string>
		<string>Madhya Pradesh</string>
		<string>Maharashtra</string>
		<string>Manipur</string>
		<string>Mizoram</string>
		<string>Nagaland</string>
		<string>Orissa</string>
		<string>Pondicherry</string>
		<string>Punjab</string>
		<string>Rajasthan</string>
		<string>Sikkim</string>
		<string>Tamil Nadu</string>
		<string>Tripura</string>
		<string>Uttaranchal</string>
		<string>Uttar Pradesh</string>
		<string>West Bengal</string>
	</array>
</dict>
</plist>
