<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5603DDAC18EBDBF900F454DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>561EA45C16B2648B008EB377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5631F6E818F8629F00D99131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
